.menu {width: 100%;
       height: 60px;
       background-color:#444444;}

.heading {float: right;
         margin-top: 10px;
         padding-right: 5px;
         }

.heading li{list-style: none;
            margin-left: 10px;
            float:left;
            padding-right:5px;
            padding-top: 8px;
}

.heading li a {
    text-decoration: none;
    color: black;
}

.heading li:hover{background-color:azure;}

.header {width: 100%;
         height:80px;
         background-color:#444444;
         margin-top: -48px;
}

.header h3 {
    font-family: Brush Script Std;
    font-size: 45px;
    padding-left: 25px;
    text-align: center;
    color: lightyellow;
}


.bg {
    width: 100%;
    height:10px;
    background-color:#444444;
    margin-left: 0;
}

.lss {
    margin-top: -18px;
    width: 100%;
    background-color:whitesmoke;
    height: 40px;
    text-decoration: none;

}

.lss ul{
    list-style-type: none;
 
}
.lis li{
    display: inline;
    font-family:inherit;
    padding-left: 150px;
    padding-right: 150px;
}

.lis li a{
    text-decoration: none;
    color: dimgray;
    font-size: 25px;
}
.box {
    width: 100%;
    height: 200px;
    margin-top: -45px;
    margin-bottom: 10px;
    background-color:FFFFFF;
}

.sou{
    text-align: right;
}

.search{
    height: 35px;
    width: 250px;
}

.but {
    height: 35px;
    width: 55px;
}

.date{
    width: 310px;
    height: 35px;
    margin-top: 30px;
}

.zhr {
    float: left;
    width: 600px;
}

.brand {
    width: 100%;
    height: 40px;
}
.info {
    font-family:Brush Script Std;
    color:brown;
    font-size: 30;
    float: left;
}

.yhr {
    float: right;
    width: 600px;
}

.bgound {
    float: none;
}

.font p {
    padding-left: 150px;
    padding-right: 150px;
    display: inline;
    font-family: Broadway;
    color:black;
    font-size: 20;
}
.bgound img {
    display: inline;
    width: 350px;
    height: 300px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}