.table {
    margin-top: 200px;
}

.use {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.pass {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.conpass {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;    
}
.sub {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
